body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(46, 46, 46);
}
body>h1{
    text-align: center;
    color: rgb(240, 240, 243);
    text-decoration:underline;
    margin-top: -10px;
}
div>p{
    font-size: large;
    font-weight: bolder;
    background-color: rgb(74, 70, 84);
    color: white;
    padding: 4px;
    width: 56%;
    border-radius: 5px;
    margin-top:15px;
    text-align: center;
}
#filter{
    margin:-15px 20px 0px;
    color: white;
    font-weight: bold;
}
#filter>input{
    height: 20px;
    background-color: rgb(221, 194, 143);
}
#filter>select{
    background-color: rgb(221, 194, 143);
    height: 25px;
    border-radius: 5px;
    width: 150px;
}
#filter>button{
    text-align: right;
}
#container{
    display: flex;
}
#img{
    width: 37%;
    height: 580px;
    background-image: url("https://images.unsplash.com/photo-1580537659466-0a9bfa916a54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    border-radius: 15px;
    margin: -50px 20px ;
}
#form{
    display:grid;
    grid-template-columns: 220px 10px 350px;
    width: 55%;
    height: 550px;
    margin: -10px 20px;
    color: whitesmoke;
    border-radius: 15px;
    background-color: rgb(74, 70, 84);
}
#end{
    margin: -20px 30px 10px;
    grid-column: span 3;
}
#submit{
    height: 55px;
    width: 600px;
    background-color: rgb(185, 226, 235);
    border-radius: 10px;
    cursor: pointer;
    /* margin-top: 20px; */
}
#form>div{
    height: 30%;
    width: 80%;
    padding:30px;
    margin-top: -10px;
}
div>input{
    height: 30px;
    margin-top: -10px;
    width: 27em;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor:pointer;
    background-color: rgb(221, 194, 143);
}
div>label{
    font-size: large;
    font-weight: bold;
}


@media only screen and (max-width: 1260px){
    #container{
        display: block;
    }
    #img{
        margin: 40px auto;

    }
    #form{
        width:70%;
        margin: auto;
    }
    div>p{
        margin:0px auto 10px;
    }
}
button{
    cursor: pointer;
}

